@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 750px;
}

.mainBody{
    background-color: #403d4e;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    width: 350px;
}

.calculatorName{
    align-self: center;
    margin-top: 25px;

}

.calculatorName p{
    color: #b4b3bd;
}

.name{
    margin: 0;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 25px;
}

.model{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.displayScreen{
    width: 300px;
    height: 75px;
    background-color: #9aa594;
}

