@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&family=Roboto:wght@400;500&family=Russo+One&display=swap');
@font-face{
    font-family:'digital-clock-font';
    src: url('Fonts/Technology-Bold.ttf');
   }

body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 750px;
}

.mainBody{
    background-color: #403d4e;
    display: flex;
    flex-direction: column;
    min-height: 475px;
    width: 335px;
    border-radius: 20px 20px 30px 30px;
}

.calculatorName{
    align-self: center;
    margin-top: 25px;

}

.calculatorName p{
    color: #b4b3bd;
}

.name{
    margin: 0;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 25px;
}

.model{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.displayScreen{
    width: 300px;
    height: 75px;
    background-color: #9aa594;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.userInput{
    margin-top: 15px;
    align-self: center;
    font-size: 72px;
    font-family:'digital-clock-font';
}

.Inputbuttons{
    align-self: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 15px;
}

.Inputbuttons .row{
    justify-content: space-around;
    flex: 1;
    display: flex;
}

.row button{
    height: 40px;
    width: 45px;
    border-radius: 10px 10px 15px 15px;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #848398;
    color: #e2e3ee;
}

.backSpace,.clear{
    background-color: #be7695 !important;
}

.modulo,.divide,.sqrt,.product,.subtract,.evaluate,.add{
    background-color: #15161f !important;
    columns: #eeeff5 !important;
}

